@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
